* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--couleur-secondaire);
}
main {
    margin: 0;
    padding: 0;
    background-color: var(--couleur-tertiaire);
}